.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.listContents {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.listContents li {
  list-style: none;
  padding: 10px 15px;
  cursor: pointer;
}
.imageWrapper {
  padding: 10px;
}
.myImage {
  border-radius: 10px;
}